.grid{
    width: 30vw;
    height: 53vw;
    max-height: 80vh;
    max-width: 45vh;
    background: antiquewhite no-repeat;
    background-size: cover;
}

.dCell{
    height: calc(53vw/16);
    max-height: calc(80vh/16);
    width: calc(30vw/9);
    max-width: calc(45vh/9);
    vertical-align: top;
    /*border: 1px solid aqua;*/
    display: inline-block;
}

.dSlide{
    width: 30vw;
    height: 53vw;
    max-height: 80vh;
    max-width: 45vh;
    background: no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
}


.dAuthorTextB{
    padding: 3px;
    background: white;
    width: 30vw;
    max-width: 45vh;

    height: 13vw;

    /*height: 6vw;*/
    font-size: calc(0.5vw + 1vh);

    /*font-size: calc(1rem + 1.23vw)*/
}
.dAuthorTextM{
    padding: 3px;
    background: rgba(104,82,143,0.76);
    width: 30vw;
    max-width: 45vh;
    height: 13vw;
    /*height: calc(53vw/16*3.6);*/
    /*max-height: calc(80vh/16*3.6);*/
    font-size: calc(0.3vw + 0.9vh);
}
.dAuthorTextS{
     padding: 3px;
     background: white;
     width: 30vw;
    max-width: 45vh;
     height: 13vw;
     font-size: calc(0.3vw + 1vh);
 }

.dAuthorTextXS{
    padding: 3px;
    background: white;
    width: 30vw;
    max-width: 45vh;
    height: 13vw;
    font-size: calc(0.2vw + 0.8vh);
}

.dRight-bubble {
    text-align: center;
    padding: 1vh 1vw 5vh 1vw;
    position: absolute;
    max-width: 18vw;
    font-size: calc(0.5vw + 0.3vh);

    background: url('/right.png') no-repeat;
    background-size: 100% 100%;
}


.dLeft-bubble {
    text-align: center;
    padding: 1vh 1vw 5vh 1vw;
    position: absolute;
    max-width: 20vw;
    font-size: calc(0.5vw + 0.3vh);
    /*bottom: 0;*/
    /*right: 0;*/

    z-index: unset;

    background: url('/left.png') no-repeat;
    background-size: 100% 100%;
}


.dRight-bubble-top {
    text-align: center;
    padding: 2vw 1vw 1vh 1vw;
    position: absolute;
    max-width: 18vw;
    font-size: calc(0.5vw + 0.3vh);

    background: url('/right_top.png') no-repeat;
    background-size: 100% 100%;
}


.dLeft-bubble-top {
    text-align: center;
    padding: 2vw 1vw 1vh 1vw;
    position: absolute;
    max-width: 18vw;
    font-size: calc(0.5vw + 0.3vh);

    background: url('/left_top.png') no-repeat;
    background-size: 100% 100%;
}