

.sDesktop{
  width: 30vw;
  height: 53.3333vw;
  max-height: 90vh;
  max-width: 50.625vh;
  background: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sMobile{
  width: 100%;
  padding-bottom: 177.77%;
  /*border: 1px solid black;*/
  /*margin: 0 auto;*/
  /*display: inline-block;*/
  /*margin: 1vw 1vw 0 3vw;*/
  background: no-repeat;
  background-size: cover;
}

.Mobile{
  width: 100vw;
  margin: 0 0 1vh 0;
  overflow: hidden;


}

.Desktop{
  margin: 0 5vw 1vh 5vw;
}


.anim-show{
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */

}

@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.startPage{
  font-size: xx-large;
  padding: 40vh 30vw 0 30vw;
}


.authorTextB{
   background: white;
   width: 30vw;
   max-width: 50.625vh;
   height: 6vw;
   font-size: 1vw;
 }
.authorTextM{
  background: white;
  width: 30vw;
  max-width: 50.625vh;
  height: 6vw;
  font-size: 0.8vw;
}
.authorTextS{
  background: white;
  width: 30vw;
  max-width: 50.625vh;
  height: 6vw;
  font-size: 0.55vw;
}


