.grid{
  width: 30vw;
  height: 53vw;
  background: antiquewhite no-repeat;
  background-size: cover;
}

.cell{
  height: 5.333vw;
  width: 3vw;
  vertical-align: top;
  /*border: 1px solid aqua;*/
  display: inline-block;
}

.sDesktop{
  width: 30vw;
  height: 53.3333vw;
  background: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sMobile{
  width: 100%;
  padding-bottom: 177.77%;
  /*border: 1px solid black;*/
  /*margin: 0 auto;*/
  /*display: inline-block;*/
  /*margin: 1vw 1vw 0 3vw;*/
  background: no-repeat;
  background-size: cover;
}

.Mobile{
  width: 100vw;
  margin: 0 0 1vh 0;
  overflow: hidden;


}

.Desktop{
  margin: 0 5vw 1vh 5vw;
}


.anim-show{
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}

@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}




.right-bubble {
  position: relative;
  background: #00aabb;
  border-radius: .4em;
}

.right-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.left-bubble {
  min-width: 10vw;
  padding: 1vh;
  position: relative;
  background: rgba(0, 244, 255, 0.42);
  border-radius: .4em;
}

.left-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: rgba(0, 244, 255, 0.42);
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}